@import "../abstracts/variables";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $fondo-header;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  a {
    text-decoration: none;
  }

  .logo {
    width: 80px;
    height: auto;
    border-radius: 50%;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
    list-style: none;
    margin: 0 10rem 0 0;

    li {
      display: flex;               // Fuerza que todos los items tengan el mismo comportamiento
      align-items: center;         // Centra verticalmente su contenido
    }

    li a {
      color: #fff;
      font-weight: bold;
      font-size: 1.1rem;
      transition: color 0.3s ease;
      display: inline-flex;        // Hace que todos los enlaces usen flex, igualando altura de línea
      align-items: center;

      &:hover {
        color: $dorado-claro;
      }
    }
  }

  .btnLogin {
    gap: 8px;                     
    padding: 8px 14px;            
    color: $dorado-claro;                  
    border-radius: 7px;
    font-size: 0.8rem;
    border: 1px solid $dorado-claro;
    background: transparent;
    font-weight: bold;
  }

  @media (max-width: 1024px) {
    nav ul {
      gap: 3rem;
      margin: 0 3rem 0 0;
    }
    .btnLogin {
      padding: 6px 12px;
      font-size: 0.75rem;
      gap: 6px;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;

    .logo {
      margin-bottom: 1rem;
    }
    header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    nav ul {
      margin: center;
      padding: 0;
      width: 100%;
      li a {
        display: block;
        padding: 0.5rem 0;
        width: 100%;
      }
    }
    .btnLogin {
      width: 100%;                
      justify-content: center;    
      padding: 3px 7px;              
      font-size: 0.9rem;
    }
  }
}