@import "../abstracts/variables";
main {
  padding: 2rem;
  font-family: $tipografia;
  color: $primario;
  background-color: $gris-fondo;
  .carrusel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: auto;
    img {
      flex: 0 0 100%;
      scroll-snap-align: center;
      border-radius: 0.5rem;
      height: 30rem;
    }
    .carrusel img {
      display: block;
    }

    .carrusel-contenedor {
      position: relative;
      overflow: hidden;
      border-radius: 1rem;
    }

    .carrusel-lista {
      display: flex;
      overflow:hidden;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      list-style: none;
      width: 90%;
      padding: 0;
      margin: 2rem auto;

      .carrusel-item {
        min-width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        img {
          width: 80%;
          height: 40rem;
          display: block;
          border-radius: 1rem;

        }
      }
    }

    .carrusel-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      font-size: 2rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      z-index: 10;

      &.anterior {
        left: 0.5rem;
      }

      &.despues {
        right: 0.5rem;
      }
    }
  }

  .texto-presentacion {
    text-align: center;

    h1 {
      font-size: 2.2rem;
      color: $fondo-header;
    }

    p {
      text-align: justify;
      margin-top: 2rem;
      font-size: 1.3rem;
      color: $primario;
      font-weight: bold;
    }

    h2 {
      margin-top: 2.5rem;
      font-size: 1.5rem;
      color: $primario;
    }
  }

  .caracteristicas {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin: 3rem 0;
    gap: 1.5rem;

    article {
      flex: 1;
      background-color: #ff0000;
      padding: 1.5rem;
      border-radius: 0.75rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      svg {
        width: 40px;
        height: 40px;
        color: $fondo-header;
      }
      p {
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  .productos {
    margin-top: 3rem;
    text-align: center;

    .productos-items {
      display: inline-block;
      margin: 1rem;
      padding: 1rem;
      width: 20rem;
      height: 25rem;
      background-color: #fff;
      border-radius: 0.75rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

      img {
        width: 70%;
        height: 70%;
        border-radius: 8px;
      }
      .info {
        margin-top: 2rem;
        text-align: center;
      }
      h3 {
        font-family: $tipografia;
        margin: 0.5rem 0;
        font-size: 1rem;
      }

      h4 {
        font-weight: bold;
        font-size: 1rem;
      }
    }

    button {
      margin-top: 2rem;
      background-color: $dorado-claro;
      border: none;
      padding: 0.8rem 2rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1rem;
      }

      &:hover {
        background-color: $dorado-claro;
      }
    }
  }

  @media (max-width: 900px) {
    .caracteristicas {
      flex-direction: column;
      align-items: center;
    }

    .productos-items {
      width: 90%;
      max-width: 300px;
    }
  }

  @media (max-width: 600px) {
    .carrusel {
      height: auto;

      .carrusel-contenedor {
        border-radius: 0;
      }
      .carrusel-item {
        min-width: 100%;
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
          border-radius: 0.5rem;
        }
      }

      .carrusel-btn {
        font-size: 1.5rem;
        padding: 0.4rem 0.8rem;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.3);

        &.anterior {
          left: 0.2rem;
        }

        &.despues {
          right: 0.2rem;
        }
      }
      .carrusel-lista{
        height: 15rem;
      }
    }
    .texto-presentacion {
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 0.9rem;
      }
      h2 {
        font-size: 1.3rem;
        margin: 4rem 0;
      }
    }
    .caracteristicas {
      flex-direction: column;
      align-items: center;
      margin: 5rem 0;
      article {
        width: 80%;
        margin-bottom: 1.5rem;
        text-align: center;
      }
      p{
        text-align: center;
        font-size: 3rem;
      }
    }
    .productos {
      margin: 4rem 0;
      .productos-items {
        width: 90%;
        margin: 2rem auto;
        height: auto;
      }
      .productos-items img {
        width: 15rem;
        height: 18rem;
      }
      button {
        padding: 0.6rem 1.5rem;
        font-size: 0.9rem;
        margin: 4rem 2rem;
      }
    }
  }
}