@import"../abstracts/variables";
.admin-header {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 2rem;
    margin: 0;
    color: $dorado-claro;
  }

  p {
    color: #aaa;
    margin-top: 0.5rem;
  }

  .btn-logout {
    margin-top: 1rem;
    background: #e63946;
    color: #fff;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: #d62828;
    }
  }
}

.acciones {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;

  .btn-primary {
    background: #2563eb;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background: #1d4ed8;
    }
  }
}

.filtros-productos {
  display: flex;
  gap: 1rem;
  margin: 2rem;

  input, select {
    flex: 1;
    padding: 0.7rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
  }

  select {
    flex: 0.5;
    cursor: pointer;
  }
}

/*.suplementos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  .card {
    background: #1c1c1e;
    padding: 1.2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

    h3 {
      margin: 0 0 0.5rem;
    }

    .marca {
      color: #bbb;
      margin-bottom: 0.8rem;
    }

    .categoria {
      display: inline-block;
      padding: 0.3rem 0.6rem;
      border-radius: 8px;
      font-size: 0.85rem;
      font-weight: bold;

      &.protein {
        background: #3b82f6;
        color: #fff;
      }
      &.creatine {
        background: #10b981;
        color: #fff;
      }
      &.preworkout {
        background: #ef4444;
        color: #fff;
      }
    }
  }
  .suplementos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 20px;
  }

  .card-producto {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .producto-img {
    width: 100%;
    height: 220px; 
    object-fit: contain;
    display: block;
    margin: 1rem auto;
  }
  .producto-info {
    margin: 0.5rem ;
    padding: 0.3rem;
    background: #ff0000;
  }
  .producto-precio, .producto-stock, .producto-tipo, .producto-nombre, .producto-descripcion {
    font-weight: bold;
    color: #28a745;
  }
}*/

