@import "../abstracts/variables";
main{
  font-family: $tipografia;
}
.boton-volver {
  display: inline-block;
  background-color: #25d366;
  color: #333;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #179246;
  }
}
#detalle-producto {
  padding: 2rem;
  background-color: $gris-fondo;
  width: 60%;
  height: auto;
  margin: auto;
}
.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  gap: 1.5rem;
}
.producto__imagen img {
  width: 15rem;        
  height: auto;         
}

.producto__imagen{
  width: 25rem;
  height: auto;
}
.producto__info {
  text-align: justify;
  height: auto;
}
.producto__info h1 {
  font-size: 2rem;
  margin: 4rem 0;
}

.precio {
  font-size: 1.5rem;
  font-weight: bold;
  color: #27ae60;
  margin-bottom: 1rem;
}

.descripcion {
  color: #555;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  text-align: justify;
}

/* Botón de WhatsApp */
.boton-wpp {
  display: inline-flex;
  align-items: center;
  background-color: #25d366;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  text-decoration: none;
}

.boton-wpp:hover {
  background-color: #179246;
}

.wpp-icono {
  width: 20px;
  height: 20px;
}


@media only screen and (max-width: 1024px) and (min-width: 768px) {
  #detalle-producto {
    width: 80%;
    padding: 1.5rem;
  }

  .producto__imagen {
    width: 20rem;
  }

  .producto__imagen img {
    width: 12rem;
  }

  .producto__info h1 {
    font-size: 1.75rem;
    margin: 3rem 0;
  }

  .precio {
    font-size: 1.25rem;
  }

  .boton-volver, .boton-wpp {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

/* Celular: hasta 767px */
@media only screen and (max-width: 767px) {
  #detalle-producto {
    width: 95%;
    padding: 1rem;
  }

  .producto__imagen {
    width: 100%;
    max-width: 18rem;
  }

  .producto__imagen img {
    width: 100%;
    max-width: 15rem;
  }

  .producto__info h1 {
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  .precio {
    font-size: 1.1rem;
  }

  .descripcion {
    font-size: 0.9rem;
    text-align: left;
    padding: 1rem 2rem;
  }

  .boton-volver{
    width: 60%;
    padding: 1rem;
  } 
  .boton-wpp {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    justify-content: center;
  }

  .producto {
    padding: 1rem;
    gap: 1rem;
  }
}