@import "../abstracts/variables";

body{
  background-color:$fondo-header;
}

h1 {
  text-align: center;
  margin: 5rem 1rem;
  font-size: 2.5rem;
  color: $fondo-header;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid $gris-borde;
}
